# Java / Maven
target/
*.class
.mvn/

# Node / React
node_modules/
dist/
.env

# Python / Django
__pycache__/
*.pyc
venv/
env/

# Android
.gradle/
build/
*.apk
local.properties

# IDEs
.idea/
.vscode/
*.iml
